.flower {
  display: flex;
  border: 1px solid black;
  border-radius: 1rem;
  align-items: center;
  font-size: 2rem;
}

.flower h2 {
  flex: 50% 1 1;
}

.flower picture {
  display: block;
  max-width: 5rem;
}

.flower picture img {
  display: block;
  max-width: 100%;
}

.flower .cart-controls {
  flex: 25% 1 1;
}

.flower button {
  font-size: inherit;
  border: none;
  background-color: rebeccapurple;
  color: white;
}
