<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Form!</title>
  </head>
  <body>
    <div id="form">
      <h2>Signup</h2>
      <form action="/auth/signup" method="POST">
        <label>
          Username
          <input type="text" name="username" placeholder="ironhacker" />
        </label>

        <label>
          Password
          <input type="password" name="password" placeholder="********" />
        </label>

        <button type="submit">Create account</button>
      </form>
    </div>
  </body>
</html>
